# Core Gradio and HF
gradio[oauth]>=4.28.0
huggingface-hub==0.24.1
hf-transfer
gradio_huggingfacehub_search==0.0.8
gradio_logsview@https://huggingface.co/spaces/Wauplin/gradio_logsview/resolve/main/gradio_logsview-0.0.5-py3-none-any.whl

# Mergekit & dependencies
git+https://github.com/arcee-ai/mergekit.git
torch==2.2.1 # Ensure base image's CUDA (e.g., 12.x) is compatible
nvidia-ml-py3 # For GPU monitoring by mergekit
fastapi>=0.110.0,<0.113.0

# llama.cpp related
pyyaml
sentencepiece

# Exllamav2
numpy<2.0
exllamav2

# Other
apscheduler